body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2f2f2f;
    margin: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    grid-gap: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.cell.player1 {
    background-color: red;
    border-radius: 50%;
}

.cell.player2 {
    background-color: yellow;
    border-radius: 50%;
}
.game-container {
    position: relative;
    display: inline-block;
}

#board {
    /* Add any styles you want for the game board */
    border: 1px solid #ccc;
    background-color: #5a5a5a;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
}


#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.popup-content {
    color: white;
    text-align: center;
}

#popup-close {
    margin-top: 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}

.waiting-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 1;
    visibility: visible;
}

.waiting-dialog-hidden {
    visibility: hidden;
    opacity: 0;
}
